@import 'fonts.css';
@import 'vars.css';

:root {
	color-scheme: var(--color-scheme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
ol,
ul,
li,
img,
figure,
figcaption,
table,
th,
td,
tr,
thead,
tbody,
tfoot,
code,
pre,
em,
strong,
abbr,
time,
hr,
address,
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before,
p::before,
a::before,
blockquote::before,
ol::before,
ul::before,
li::before,
img::before,
figure::before,
figcaption::before,
table::before,
th::before,
td::before,
tr::before,
thead::before,
tbody::before,
tfoot::before,
code::before,
pre::before,
em::before,
strong::before,
abbr::before,
time::before,
hr::before,
address::before,
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after,
p::after,
a::after,
blockquote::after,
ol::after,
ul::after,
li::after,
img::after,
figure::after,
figcaption::after,
table::after,
th::after,
td::after,
tr::after,
thead::after,
tbody::after,
tfoot::after,
code::after,
pre::after,
em::after,
strong::after,
abbr::after,
time::after,
hr::after,
address::after {
	outline-offset: 1px;
	transition: color linear 0.1s;
	font-family: inherit;
}

code {
	display: inline-block;
	padding: 1em;
	background-color: rgba(223, 231, 255, 0.14);
	border: 3px solid rgba(223, 231, 255, 0.37);
	margin: 0.3em 0;
	border-radius: 1em;
	font-family: revert;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: var(--font-heading-weight);
}

html {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-main-family);
	font-weight: var(--font-main-weight);
	font-size: var(--font-size-main);
	position: relative;
	transition: background-color linear 0.5s;
	background-color: var(--color-bg-main);
	color: var(--color-main);
	margin: 0;
	padding: 0;
}

header {
	transition: background-color linear 0.5s;
}

a {
	color: var(--color-main);
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	font-weight: var(--font-heading-weight);
	margin: 0 0 5px 0;
	padding: 10px 0 0;
}

h2,
h3,
h4,
h5,
h6 {
	font-size: var(--font-size-main);
}

h1 {
	font-size: var(--font-heading-size);
}

h1 + h2,
h2 + h3 {
	margin: -5px 0 0 0;
	padding: 0 0 10px 0;
	font-size: var(--font-heading-size);
	font-weight: var(--font-main-weight);
}

/* LINKS */
a {
	color: var(--color-main);
	font-weight: var(--font-bold-weight);
	position: relative;
	text-decoration: none;
}

/* EXTERNAL LINK */
a:not([href^='/']):hover::after {
	content: '' var(--external-link-icon);
	width: 15px;
	height: 15px;
	transform: translate(0, -10px) rotate(90deg);
	position: absolute;
}

@media (width <= 1018px) {
	a:not([href^='/']):hover::after {
		transform: translate(0.1rem, -0.3rem) rotate(90deg);
	}
}

nav a,
.menu a {
	text-underline-offset: 4px;
}

/* LISTS */
ol,
ul {
	margin: 10px 0;
	padding-left: 1.6em;
}

/* OTHER */
blockquote {
	margin: 10px 26px;
}

p {
	margin: 10px 0;
}

/* NAVIGATION MENUES */
nav {
	font-family: var(--font-main-family);
}

nav ul,
nav ol,
nav li,
.menu li,
.menu ul,
.menu ol {
	font-size: var(--font-main-menu-size);
	font-weight: var(--font-bold-weight);
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a,
.menu a {
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
}
a.active {
	text-decoration: underline;
}

.no-markers {
	list-style: none;
	padding-left: 0;
}

.vh {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media (width <= 1018px) {
	.no-mobile {
		display: none !important;
		visibility: hidden !important;
	}
}

@media (width > 1018px) {
	.no-desktop {
		display: none !important;
		visibility: hidden !important;
	}
}
